body{
    margin: 0;
    padding: 0;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', bold;
    /*background: url(Images/blob-scene-haikei.svg); */
    background-size: cover;
    background-color: #282c36;
}
h1{
    margin: 0;
}
p{
    margin: 0;
}

#welcome{
    width: 100%;
    padding-top: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background: url(Resources/circle-scatter-haikei.svg);
    background-size:cover;
    background-position:bottom;
    
}

.welcome-text{
    align-items: center;
    text-align: center;
    color: #d2d0b1;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1/(20vw);
}

#h-line{
    background-color: #657d60;
    border: 5px solid #282c36;
    border-radius: 100%;
    width: 0%;
    height: 0.5vw;
    margin: auto;

    transition:2000ms ease-in-out;
}

#w-c-divider{
    aspect-ratio: 900/200;
    width: 100vw;
    background: url(Resources/gray-green-waves.svg);
    background-size:cover;
    background-repeat: no-repeat;
    
}

#info{
    margin: 0;
    padding: 0;
    background: url(Resources/circle-scatter-haikei.svg);
    background-size:cover;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.info-element{
    width: calc(100%/3);
    aspect-ratio: 1;
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.info-sub-element{
    width: 60%;
    color: #d2d0b1;

    font-size: 1.2vw;
    background: linear-gradient(to right, #d2d0b1, #b795c0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about-me{
    background: url(Resources/blob-ring-1.svg);
    background-size:cover;
    background-repeat: no-repeat;
}
#contact{
    background: url(Resources/blob-ring-3.svg);
    background-size:cover;
    background-repeat: no-repeat;
}
#resume{
    background: url(Resources/blob-ring-2.svg);
    background-size:cover;
    background-repeat: no-repeat;
}

#c-p1-divider{
    aspect-ratio: 900/200;
    width: 100vw;
    background: url(Resources/green-gray-waves.svg);
    background-size:cover;
    background-repeat: no-repeat;
}
#projects1{
    background: #af3765;
    background: url(Resources/circle-scatter-2.svg);
    background-size:cover;
    background-position:center;
}
#projects1-container{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.project-element{
    margin: 5%;
    height: 25vw;
    width: 25vw;

    background: #282c36;
    border-style: solid;
    border-image: linear-gradient(#3d9291 0%, #af3765 100%) 1;
    box-shadow: 0px 0px 4vw #1f1d2c;
}
#p1-p2-divider{
    aspect-ratio: 900/200;
    width: 100vw;
    background: url(Resources/gray-red-waves.svg);
    background-size:cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 700px) {
    
    #info{
        margin: 0;
        padding: 0;
        background-color: #3d9291;
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .info-element{
        width: 80%;
        padding: 10%;
        
        aspect-ratio: 1;
        background: url(Resources/blob1.svg);
        background-size:cover;
        background-repeat: no-repeat;
        
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
    }
    .info-sub-element{
        width: 60%;
        color: #d2d0b1;
        font-size: 3vw;
    }
}